*{
  box-sizing:border-box;
  color: #fff;
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;

} 

body{
  background-image: url(../images/fondo_azul.jpg);
  background-position: center;
  background-size: cover;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 10px solid cornflowerblue; 
}

img{
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  margin-right: 10px; 
}


footer{
  border: 4px solid cornflowerblue;
}

li{
  margin-right: 10px;
}

li a{
  text-decoration: none;
}

h1{
  margin: 10px 10px;
  font-size: 3em;
}


#seccion-datos {
  display: flex;
  justify-content: center;
}

#form-anuncio {
  width: 90%;
}



.titulo-2{
  text-align: center;
  font-size: 2em;
  margin: 10px 0px;
}


#form-anuncio {
  padding: 20px;
  border: 4px solid cornflowerblue;
  border-radius: 4px;
}

fieldset{
  margin-bottom: 20px;
  border: none;
}


.titulo-3 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.titulo-4,#legend {
  font-weight: normal;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.botones{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.botones:hover{
  background-color: #45a049;
}
 
#loader {
  text-align: center;
}

#loader img {
  width: 200px;
  height: 200px;
}

.oculto{
  display: none;
}


select{
  color:black;
  padding: 5px 10px;
  padding: 10px 20px;
}
option{
  color:black;
}

table {
    width: 90%;
    height: 20px;
    margin:0 auto;
    border-collapse: collapse;
    border: 4px solid #ccc;
    border-radius: 4px;
  }
  th,td {
    border: 1px solid #fff;
    padding: 5px 10px;
  }
th{
    text-align: center;
    text-transform: capitalize;
    background-color: cornflowerblue;
}
 td{
    text-align: right;
    text-transform: capitalize;

 }

 #filtros-tabla {
  width: 90%;
  border: 4px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#contenedor-filtros {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#selectEditorial {
  margin-top: 5px;
  margin-left: 10px;
}

#contenedor-filtros > div {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contenedor-checkbox {
  width: 90%;
  margin:10px auto;
  border: 4px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

#contenedor-checkbox > div {
  margin-top: 5px;
}













